{:id "68c76ef3-f198-4b73-aa56-6e7bc325196d", :name "tester", :config {:ffmpeg-path "/usr/bin/ffmpeg", :rtsp-user nil, :buffer-size "100M", :custom-flags "", :audio-bitrate "128k", :rtsp-transport "tcp", :stream-server "server", :audio-sampling-rate 44100, :stream-key "key", :audio-channels 1, :cam-ip "0.0.0.0", :cam-rtsp-port "554", :rtsp-password nil, :profile "bla"}, :version 1}
